/*-----------------------------------floor----------------------------*/

/*公共样式*/
.floor{
    width: 100%;
    height: 510px;
    padding-top: 30px;
}
.floor .floor_box{
    position: relative;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-around;
}
.floor .floor_box .floor_left,.floor .floor_box .floor_right{
    height: 470px;
    line-height:29px;
}

/*左边*/
.floor h1{
    height: 32px;
    line-height: 32px;
    color:#333;
}
.floor h1 span:nth-of-type(1){
    font-weight: 500;
    font-size: 22px;
}
.floor h1 span:nth-of-type(2){
    float: right;
    font-size: 14px;
}
.floor h1 i{
    display:inline-block;
    padding:0px 16px;
}
.floor h1 i:hover,.color1,.color2,.color3,.color4,.color5,.color6,.color7,.color8,.color9{
    color: white;
}

.floor .floor_left p{
    height: 32px;
    line-height: 32px;
    width:100%;
    box-sizing: border-box;
    color: #F0F0E8;
    margin-bottom: 1px;
    background-color: rgba(0,0,0,.1);
}
.floor .floor_left img{
    width: 100%;
}
.floor .floor_left ul{
    float: left;
    margin-left:16px;
}
.floor .floor_left a,.floor .floor_left li{
    color: #F0F0E8;
}
.floor .floor_left ul li:nth-of-type(1){
    padding-top:8px;
}
.floor .floor_left a:hover,.floor .floor_left li:hover{
    text-decoration: underline;
}
.floor .floor_box .block{
    display: block;
}
/*右边*/
.floor .floor_right{
    display: none;
    position: relative;
}
.floor .floor_right .floor_r1{
    float: left;
    position: relative;
    height:100%;
    overflow: hidden;
}
.floor .floor_right .floor_r2{
    float:left;
    width: 600px;
    height:100%;
}
.floor .floor_right .floor_r ul li{
    float: left;
    height:195px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.floor .floor_right .floor_r,.f1 .floor_right .floor_r ul{
    width: 100%;
    height:100%;
}
.floor .floor_right span,.floor .next{
    display: none;
    position: absolute;
    right: 0;
    top:194px;
    width:30px;
    height:60px;
    z-index: 11;
    background-color: rgba(0,0,0,.2);
}
.floor .floor_box:hover span.next{
    display: inline-block;
}
.floor .floor_right span:hover,.floor .next:hover{
    background-color: rgba(0,0,0,.4);
}
.floor .floor_right .floor_r1:hover span{
    display: inline-block;
}
.floor .floor_box span i{
    display: inline-block;
    width: 20px;
    height: 40px;
    margin:12px 5px;
}
.floor .floor_right .floor_r1 p{
    position: absolute;
    top:340px;
    left:156px;
    z-index: 10;
}
.floor .floor_right .floor_r1 p i{
    display: inline-block;
    width: 18px;
    height: 4px;
    margin: 3px;
    background-color:rgba(255,255,255,.7);
}
.floor .floor_right .floor_r1 p i.active{
    background-color: #F5004B;
}
.floor .floor_right .floor_r1 span:nth-of-type(1){
    left:0;
}
.floor .floor_right .floor_r1 span:nth-of-type(1) i{
    background: url("../images/ui2.png") no-repeat -11px -136px;
}
.floor .floor_right .floor_r1 span:nth-of-type(2) i,.floor .next i{
    background: url("../images/ui2.png") no-repeat -50px -136px;
}
.floor .floor_right .floor_r2 img{
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.floor .floor_right .floor_r1 ul{
    position: absolute;
    top:0;
    left: 0;
}
.floor .floor_right .floor_r ul li p{
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.floor .floor_right .floor_r ul li p a{
    padding: 0;
}
.floor .floor_right .floor_r ul li p:nth-of-type(2){
    color: #f5004b;
}


.wide .floor_right .floor_r1{
    width: 389px;
}
.wide .floor_right .floor_r ul li{
    width: 157px;
}
.wide .floor_right .floor_r ul li img{
    margin:6px 12px;
}

.nowide .floor_right .floor_r1{
    width: 479px;
}
.nowide .floor_right .floor_r ul li{
    width: 175px;
}
.nowide .floor_right .floor_r ul li img{
    margin:6px 18px;
}
.nowide .floor_right .floor_r1 p{
    left: 200px;
}

/*各自样式*/
.color1,.f1 .floor_left{
    background-color:#719EF7;
}
.f1 h1{
    border-bottom: 1px solid #719EF7;
}
.color2,.f2 .floor_left{
    background-color:#50BFEC;
}
.f2 h1{
    border-bottom: 1px solid #50BFEC;
}
.color3,.f3 .floor_left{
    background-color:#7F86EC;
}
.f3 h1{
    border-bottom:1px solid #7F86EC;
}
.color4,.f4 .floor_left{
    background-color:#41CCB8;
}
.f4 h1{
    border-bottom:1px solid #41CCB8;
}
.color5,.f5 .floor_left{
    background-color:#E85CC5;
}
.f5 h1{
    border-bottom: 1px solid #E85CC5;
}
.color6,.f6 .floor_left{
    background-color:#FF7689;
}
.f6 h1{
    border-bottom: 1px solid #FF7689;
}
.color7,.f7 .floor_left{
    background-color:#ABCE5B;
}
.f7 h1{
    border-bottom: 1px solid #ABCE5B;
}
.color8,.f8 .floor_left{
    background-color:#829DAA;
}
.f8 h1{
    border-bottom: 1px solid #829DAA;
}
.color9,.f9 .floor_left{
    background-color:#C57EF1;
}
.f9 h1{
    border-bottom: 1px solid #C57EF1;
}

/*1 2 3 5 8 左边一样宽*/
.wide .floor_left{
    width: 210px;
}
.wide .floor_right{
    width:990px;
}
.wide .floor_left p{
    padding-left:8px;
}
/*4 6 7 9 左边一样窄*/
.nowide .floor_left{
    width:120px;
}
.nowide .floor_right{
    width:1080px;
}
.nowide .floor_left p{
    padding-left: 18px;
}
.nowide .floor_left ul{
    margin-left:26px;
}



.f10{
    padding: 30px 0;
    width: 100%;
    height: 400px;
    background-color: #F0F0F0;
}
.f10 .wrap ul{
    display: flex;
    justify-content: space-around;
}
.f10 li{
    float: left;
    position: relative;
    height: 400px;
    color: white;
    line-height:22px;
}
.f10 li a{
    color: white;
}

.f10 li a:hover{
    text-decoration: underline;
}
.f10 li h3{
    position: absolute;
    box-sizing: border-box;
    padding-left: 16px;
    top:246px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 16px;
    z-index: 1;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,.4);

}
.f10 h3 span{
    border:1px solid white;
    padding: 2px 10px;
    border-radius: 4px;
    margin-right: 10px;
}
.f10 li:nth-of-type(4) h3:nth-of-type(1),.f10 li:nth-of-type(5) h3:nth-of-type(1){
    height: 30px;
    line-height: 30px;
    top: 170px;
}
.f10 li:nth-of-type(4) h3:nth-of-type(2),.f10 li:nth-of-type(5) h3:nth-of-type(2){
    height: 30px;
    line-height: 30px;
    top:370px;
    font-size: 14px;
}
.f10 li:nth-of-type(1) p:nth-of-type(1),.f10 li:nth-of-type(3) p:nth-of-type(1){
    width: 100%;
    height: 40px;
    background:rgba(0,0,0,.2);
    margin-bottom: 10px;
    line-height: 40px;
}
.f10 li:nth-of-type(1){
     background-color: #62C8A3;
 }
.f10 li:nth-of-type(3){
    background-color: #CCAD6F;
}
.f10 li h5{
    position: absolute;
    left: 45px;
    font-size: 16px;
}
.f10  li:nth-of-type(2) h5:nth-of-type(1){
    top: 80px;
}
.f10  li:nth-of-type(2) h5:nth-of-type(2){
    top: 120px;
}
.f10  li:nth-of-type(2) h5:nth-of-type(3){
    top: 260px;
}
.f10  li:nth-of-type(2) h5:nth-of-type(4){
    top: 300px;
}
.f10  li:nth-of-type(2) h5:nth-of-type(1),.f10  li:nth-of-type(2) h5:nth-of-type(3){
    border-radius: 4px;
    border:1px solid white;
    padding: 2px 10px;
    margin-left:20px;
}
